.example-card {
    max-width: 1000px;
    color: black;
    padding: 20px;
    margin-left: 100px;
    margin-top: 20px;
    background-color:rgb(245, 245, 227);
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }